<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Cours</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
</head>
<body>
    <header class="header  w-full border h-16 bg-red-800 flex items-center justify-between fixed top-0">
        <div class="mx-5">
            <h2 class="text-white text-lg font-bold">Ecole 221</h2>
        </div>
        <div class="mx-5">
            <img class="w-10 h-10" src="../../../public/assets/user.png" alt="">
        </div>
    </header>
    <div class="w-full flex  h-full fixed ">
        <aside class="sidebar">
            <!--sidebar header-->
            <header class="sidebar-header">
                <a href="#" class="sidebar-logo">
                    <img src="../../public/assets/logo.jpg" alt="logo">
                </a>
                <button class="toggler sidebar-toggler">
                    <i class='bx bx-chevron-left'></i>
                </button>
            </header>
            <nav class="sidebar-nav">
                <!--Primary top nav-->
                <ul class="nav-list primary-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class='bx bx-home' ></i>
                            <span class="nav-label ">Dashboard</span>
                        </a>
                        <span class="nav-tooltip ">Dashboard</span>   
    
                    </li>
                    <li class="nav-item">
                        <a href="../Professeur/ListeProfesseur.html" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Listes Professeurs</span>
                            <span class="nav-tooltip ">Listes Professeurs</span>
                        </a>
    
                    </li>
                    <li class="nav-item">
                        <a href="../Module/ListeModule.html" class="nav-link">
                        
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Listes Modules</span>
                            <span class="nav-tooltip ">Listes Modules</span>
                        </a>
    
                    </li>


                    <li class="nav-item">
                        <a href="../Annees/ListeAnnees.html" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Listes Annees</span>
                            <span class="nav-tooltip ">Listes Annees</span>
                        </a>
    
                    </li>

                    <li class="nav-item">
                        <a href="../Classe/ListesClasse.html" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Listes Classes</span>
                            <span class="nav-tooltip ">Listes Classes</span>
                        </a>
    
                    </li>

                    <li class="nav-item">
                        <a href="../Etudiant/ListeEtudant.html" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Listes Etudiants</span>
                            <span class="nav-tooltip ">Listes Etudiants</span>
                        </a>
    
                    </li>
                </ul>
    
                   <!--Second bottom nav-->
                   <ul class="nav-list secondary-nav">
                        <li class="nav-item">
                            <a href="../login/index.html" class="nav-link">
                                <i class='bx bx-log-out' ></i>
                                <span class="nav-label ">Logout</span>
                            </a>
                        <span class="nav-tooltip ">Logout</span>
    
                        </li>
                    </ul>
            </nav>
        </aside>
        <div class=" absolute  mt-20 mx-64">
            <h2 class="text-lg font-medium mx-5 mt-3 mb-5">Liste Annees</h2>
            <div class="border  w-96 h-24 my-8 shadow-inner">
                <h1 class=" flex mx-10 my-2 ">Definir l'Annees Scolaire</h1>
            <form class="my-4  mx-4" action="">
                <select class="w-64 mx-2 h-9 border" name="" id="" >
                    <option value="">(2023-2024) </option>
                </select>
                <button class=" w-10 h-8 bg-sky-700 rounded text-white font-bold">OK</button>
            </form>

            </div>
             <div id="ListeCours"class="w-full  items-center justify-center px-6"> 
                <table class="w-full border mx-8 mt-2  w-1/2  ">
                    <thead class="bg-red-800">
                        <tr>
                            <th scope="col" class="text-white px-6 py-3">
                                Libele
                            </th>
                            <th scope="col" class="text-white px-6 py-3">
                                Statut
                            </th>
                           
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border hover:bg-gray-100">
                            <td scope="row" class="px-6 py-4">
                                Algo
                            </td>
                           
                           
                           
                            
                            
                                <td class="px-6 py-4 text-blue-700"><a href="Ajout.html">Modifier</a></td>
                            
                        </tr>
                        <tr class="border hover:bg-gray-100">
                            <td scope="row" class="px-6 py-4">
                                PHP
                            </td>
                          
                                <td class="px-6 py-4 text-blue-700"><a href="Ajout.html">Modifier</a></td> 
                            
                        </tr>
                        <tr class="">
                            <td scope="row" class="px-6 py-4">
                                Ibrahima Diop
                            </td>
                          
                                <td class="px-6 py-4 text-blue-700"><a href="Ajout.html">Modifier</a></td>
                            
                        </tr> 
                    </tbody>
                </table>
                <div class="">
                    <nav class="flex items-center justify-center mt-2" aria-label="Page navigation example">
                        <ul class="inline-flex -space-x-px text-sm">
                            <li>
                            <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                            </li>
                            <li>
                            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                            </li>
                            <li>
                            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">3</a>
                                </li>
                            <li>
                            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>     
            </div> 
 </div>
        </div>
       
    </div>
</body>
<script src="../../src/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</html>